.bootstrap-card {
  width: 90%;
  margin: 1em;
  padding: 1em;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column !important;
  align-items: center;
}

.card-header-action-alert {
  /* display: "flex";
  justify-content: "space-between"; */
}

.action-alert-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talking-points-div {
  width: 42%;
  height: 30em;
  overflow-y: auto;
  border-style: ridge;
  border-radius: 10%;
  padding: 22px;
}

.talking-points-div::-webkit-scrollbar {
  /* width: 30px; */
  /* height: 30%; */
}

.talking-points-div::-webkit-scrollbar-track {
  background: transparent;
}

.next-button {
  display: flex;
  justify-content: space-evenly;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.h1-final-subject {
  color: #004fa0;
  font-family: Crimson Text;
}

.sender-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-complete-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button {
  height: 40px;
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.check-box {
  padding-right: 10px;
}

.modal-component {
  padding: 20px !important;
}

.message-subject-checkbox-div {
  width: 55%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .app {
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .app {
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 1182px) {
  .talking-points-div {
    width: auto;
    border-style: none;
    border-radius: 0%;
  }
  .message-subject-checkbox-div {
    width: 100%;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .card-container {
    flex-direction: column !important;
    align-items: center;
    width: auto;
  }
  .bootstrap-card {
    width: 90%;
  }

  .h1-final-subject {
    color: #004fa0;
    font-family: Crimson Text;
    padding-right: 0rem;
  }

  .card-header-action-alert {
    display: "flex";
    /* justify-content: "space-between"; */
  }
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-3 {
  margin-right: 3px;
}
