.bootstrap-card {
  width: 50%;
  margin: 1em;
  padding: 1em;
}

.card-container {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .app {
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .app {
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .app {
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .card-container {
    flex-direction: column !important;
  }
  .bootstrap-card {
    width: 100%;
  }
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-3 {
  margin-right: 3px;
}
